{% extends 'home.html' %}
{% load static %}
{% block title %} User Information{% endblock %}

{% block styleLink %}
    <style>
        #profile_pic {
            width: 150px !important;
            height: 150px !important;
            background-image: url("{% static 'img/default_profile.jpg' %}");
            background-size: cover;

            border-radius: 50%;
            box-shadow: 0 0 8px 1px black;
            margin-bottom: 1rem;
            text-align: center;
        {#margin: 1rem auto;#}
        }
    </style>
{% endblock %}
{% block content %}
    <h1>User Information</h1>
    <div id="profile_pic"
         {% if  user.profile.picture %}style="background-image:url({{ user.profile.picture.url }})  "{% endif %}>

    </div>
    <p>Welcome, {{ user.first_name }} {{ user.last_name }}!</p>
    {#    <a href="{% url 'createTeam' %}">Create_team</a>#}
{% endblock %}
